@media screen and (min-width:1400px) {
	pre.prettyprint  * {
		font-family: 'Roboto Mono',Monaco,courier,monospace;
		font-size: 16px;
	}

	code.prettyprint .com,pre.prettyprint .com {
		line-height: 1.6;
		color: #9C9C9C;
		font-size: 15px;
		font-style: normal;
	}
}

@media screen and (max-width:1399px) {
	pre.prettyprint  * {
		font-family: 'Roboto Mono',Monaco,courier,monospace;
		font-size: 13px !important;
		font-weight: 200 !important;
	}

	code.prettyprint .com,pre.prettyprint .com {
		line-height: 1.6;
		color: #9C9C9C;
		font-size: 12px;
		font-style: normal;
	}
}

pre.prettyprint {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

code.prettyprint,pre.prettyprint {
	padding: 10px 0;
	border-bottom: 2px solid #ededed;
	margin-top: 7px;
	border-radius: 4px;
	display: block;
}

code.prettyprint .linenums,pre.prettyprint .linenums {
	;
}

code.prettyprint ol.linenums,pre.prettyprint ol.linenums {
	padding: 0 0 0 4em;
	margin: 0;
}

code.prettyprint ol.linenums li,pre.prettyprint ol.linenums li {
	padding-left: 0;
	padding-right: 1.5em;
	color: #aaa;
	line-height: 1.5em;
}

code.prettyprint .lit,pre.prettyprint .lit {
	color: #42b983;
}

code.prettyprint .pun,pre.prettyprint .pun {
	color: #aaa;
}

code.prettyprint .opn,pre.prettyprint .opn {
	color: #4c4;
}

code.prettyprint .clo,pre.prettyprint .clo {
	color: #4c4;
}

code.prettyprint .fun,pre.prettyprint .fun {
	color: #e96900;
}

code.prettyprint .str,pre.prettyprint .str {
	color: #e96900;
}

code.prettyprint .atv,pre.prettyprint .atv {
	color: rgb(233,105,0);
}

code.prettyprint .kwd,pre.prettyprint .kwd {
	color:#6C71C4;
}

code.prettyprint .tag,pre.prettyprint .tag {
	color: #0092DB;
}

code.prettyprint .typ,pre.prettyprint .typ {
	color: #0092DB;
}

code.prettyprint .atn,pre.prettyprint .atn {
	color: #00B494;
}

code.prettyprint .dec,pre.prettyprint .dec {
	color: #55c;
}

code.prettyprint .var,pre.prettyprint .var {
	color: #cc6;
}

code.prettyprint .pln,pre.prettyprint .pln {
	color: #446;
}